// app ---------------------------------------
#app {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
// Header ---------------------------------------
.app-header {
  padding: 0;
  position: fixed;
  .dropdown-menu {
    padding: 0;
    .dropdown-item {
      padding: 12px 25px;
      border-bottom: 1px solid $gray-200;
    }
  }
}

[v-cloak] {
  display: none;
}

// Sidebar ---------------------------------------
@media (min-width: 992px) {
  .sidebar-minimized .sidebar .sidebar-nav {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Main ------------------------------------------
.main .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .aside-menu-show .main::before,
  .sidebar-show .main::before {
    background: none;
  }
}

// Breadcrumb ------------------------------------

.custom-card {
  margin-left: -4px;
  min-height: 175px;

  a.link-button {
    &:hover {
      text-decoration: none !important;
    }
  }

  .card-body {
    padding: 0.75rem;
  }

  .h2 {
    font-size: 20px;
  }

  a {
    &.link-button {
      transition: all 1s;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: all 1s;
      }
    }
  }
}

.form-error {
  color: #f00;
  font-size: 12px;
}

textarea {
  height: 80px !important;
  resize: none;
}

.mt-30 {
  margin-top: 30px;
}

table {
  &.table {
    thead {
      background: #f1f5f7;
      color: #3c3c3c;

      th {
        border: none;
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 2px solid #dee2e6 !important;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        &:hover {
          background: #f1f5f7;
        }
        td {
          border: none;
          border-bottom: 1px solid #dee2e6 !important;
        }
      }
    }
  }
}

.btn-plus {
  width: 50px;
  line-height: 50px;
  background: #20a8d8;
  color: #ffffff;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;

  a {
    border-radius: 50%;
    display: block;
    width: 50px;
    line-height: 50px;
  }

  &:hover {
    transition: all 0.5s;
  }

  i {
    color: #ffffff;
  }
}

.card-sub-header {
  padding: 0rem 1.25rem;
}

.info-text {
  color: #a7a7a7;
  font-size: 10px;
}

.swal-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;

  &:first-child {
    margin-top: 15px;
  }
}

.swal-icon--warning__body {
  width: 5px;
  height: 20px;
}

.swal-text {
  text-align: center;
}

.swal-title {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.swal-footer {
  text-align: center;
}

.edit-button {
  background: #28a745;
}

.swal-icon--info:after {
  top: 36px;
}

.profile-box {
  width: 130px;
  height: 120px;
  position: relative;
  background: #f1f5f7;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;

  .btn-edit-circle {
    position: absolute;
    width: 40px;
    line-height: 40px;
    bottom: -10px;
    right: -10px;
    background: #20a8d8;
    border-radius: 50%;
    text-align: center;

    a {
      display: block;
      color: #ffffff;
    }
  }
}

.modal-body {
  .border-primary,
  .border-success {
    padding: 10px !important;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
}

.info-box {
  .org-title {
    font-size: 16px;
    font-weight: 600;
  }

  .org-name {
    font-size: 16px;
  }
}

table {
  &#dynamic_field {
    th {
      label {
        margin: 0;
      }
    }
    td {
      span {
        display: inline-block;
      }
    }
  }
}

ul {
  &.pagination {
    margin-bottom: 0;

    .page-item {
      &.disabled .page-link,
      .page-link,
      &:last-child .page-link {
        border-radius: 50%;
        width: 35px;
        line-height: 33px;
        padding: 0;
        text-align: center;
        margin-right: 2px;
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb-menu {
  & .btn-outline-success,
  .btn-outline-primary {
    border: 1px solid transparent;
    border-color: inherit;
    padding: 0 0.55rem;
  }

  .btn-primary {
    padding: 0 0.55rem;
  }

  .btn {
    color: $white;
  }
  .btn-link {
    color: $gray-600;
  }
}

// Form ------------------------------------------
.input-group-text {
  background-color: transparent;
}

[type="button"],
button {
  outline: none !important;
}

// Card ------------------------------------------
// .card-header, .card-footer {
//   background-color: transparent;
// }
// .card-header {
//   padding: 1.25rem;
//   color: $blue;
//   font-weight: bold;
// }

.card-header h4 {
  margin: 0;
  font-size: 18px;
}

.app-header {
  .navbar-brand {
    color: #666;
  }
}

.card-footer {
  border-top: none;
}

// Toasted ---------------------------------------
.toasted-container {
  &.top-left,
  &.top-center,
  &.top-right {
    top: 3% !important;
  }
  &.bottom-left,
  &.bottom-center,
  &.bottom-right {
    bottom: 3% !important;
  }
}
.ogmenu {
  background: #4caf501f;
}

.ogmenu a.nav-link.active {
  color: #fff;
  background: #3a4248;
}
.ogmenu a.nav-link {
  color: #282828;
}

.sidebar {
  padding: 5px;

  .nav-link {
    margin: 0;
    padding: 0.3em;

    &.active {
      color: #20a8d8;
      background: transparent;
    }

    &:hover {
      color: #20a8d8;
      background: transparent;

      i {
        color: #20a8d8 !important;
      }
    }
  }

  .nav-title {
    padding: 0.75rem 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 5px;
  }
}

.sidebar-minimizer {
  display: none;
}
.saperator-line {
  border-top: 1px solid #ddd;
  margin-top: 15px;
}

.upload-down-icon {
  transition: all 0.5s;
  margin-left: 15px;
}

.rotate {
  transform: rotate(-180deg);
  transition: all 0.5s;
}
.table-body {
  width: 100%;
  overflow: auto;
}
td#pagination {
  background: white;
}

.duplicate {
  background-color: orange;
}
.uploaded {
  background-color: green;
}
.wrong_category {
  background-color: yellow;
}
.required_field_not_found {
  background-color: #f66d9b47;
}
/*
.past-week{
  background-color:#6b122266;
}

.current-week{
  background-color:#126b19e0;
}
.up-comming{
  background-color:#b3b520ad;
}*/

.select2-container {
  width: 100% !important;
}

.swal-button--danger {
  background-color: #0f8818 !important;
}
.swal-button--cancel {
  background-color: #e64942 !important;
  color: #fff !important;
}
.swal-button--cancel:not([disabled]):hover {
  background-color: #e64942 !important;
  color: #fff !important;
}
.swal-button--cancel:not([disabled]):active {
  background-color: #e64942 !important;
  color: #fff !important;
}

.wordbreak {
  word-break: break-all;
}
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}
.width-5 {
  width: 5%;
}
.width-15 {
  width: 15%;
}
.width-25 {
  width: 25%;
}
.width-35 {
  width: 35%;
}
.width-45 {
  width: 45%;
}
.width-55 {
  width: 55%;
}
.width-65 {
  width: 65%;
}
.width-75 {
  width: 75%;
}
.width-85 {
  width: 85%;
}
.width-95 {
  width: 95%;
}

.form-error{
  color:#e3342f;
}

.bg-loglist {
  background-color: #ded1ab !important;
}

.portlet-placeholder{
  background:#0000005c;
}

#sortable{
  tr{
  cursor:move;
  } 
}