<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xl-7">
        <div class="card-header px-0 mt-2 bg-transparent clearfix">
          <h4 class="float-left pt-2">New User</h4>
          <div class="card-header-actions mr-1">
            <a class="btn btn-primary" href="#" :disabled="submiting" @click.prevent="create">
              <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
              <i class="fas fa-check" v-else></i>
              <span class="ml-1">Save</span>
            </a>
          </div>
        </div>
        <div class="card-body px-0">
          <div class="form-group">
            <label>Full Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" :class="{'is-invalid': errors.name}" v-model="user.name" placeholder="">
            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
          </div>
          <div class="form-group">
            <label>Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" :class="{'is-invalid': errors.email}" v-model="user.email" placeholder="">
            <div class="invalid-feedback" v-if="errors.email">{{errors.email[0]}}</div>
          </div>
          <div class="form-group">
            <label>Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" :class="{'is-invalid': errors.password}" v-model="user.password">
            <div class="invalid-feedback" v-if="errors.password">{{errors.password[0]}}</div>
          </div>
          <div class="form-group">
              <label>Roles <span class="text-danger">*</span></label>
              <multiselect
              @input="executeLoader"
                v-model="user.roles"
                :options="roles"
                :multiple="true"
                openDirection="bottom"
                track-by="id"
                label="display_name"
                :class="{'border border-danger rounded': errors.roles}">
              </multiselect>
              <small class="form-text text-danger" v-if="errors.roles">{{errors.roles[0]}}</small>
          </div>
            
           <div class="form-group" id="organization" style="display:none">
              <label>Organization</label>
              <select class="form-control"  v-model="user.org_id">
                <option value="">Select Organization</option>
                <option v-for="(og, index) in organization" :value="og.id" :key="og.id">{{og.name}}</option>
              </select>
                        
              <small class="form-text text-danger" v-if="errors.org_id">{{errors.org_id[0]}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      
      organization: [],
      user: {
        roles: [],
         org_id: '',
        
      },
      roles: [],
       organization: [],
      errors: {},
      submiting: false
    }
  },
  mounted () {
    this.getRoles()
    this.getOrganization()
  },
  methods: {
     executeLoader(selectedItems) {
      var datas= JSON.stringify(selectedItems);
       if(datas.includes('"name":"admin"')){
         $('#organization').show()
       }else{
          $('#organization').hide()
       }
      // console.log(datas)
       } ,
    create () {
      if (!this.submiting) {
        this.submiting = true
        //console.log(this.user)
        axios.post(`/api/users/store`, this.user)
         .then(response => {
          this.$toasted.global.error('Created user!')
           location.href = '/users'
         })
         .catch(error => {
           this.errors = error.response.data.errors
           this.submiting = false
         })
      }
    },
    getRoles () {
      axios.get(`/api/roles/all`)
      .then(response => {
        this.roles = response.data
      })
      .catch(error => {
        this.errors = error.response.data.errors
      })
    },
     getOrganization () {
      axios.get(`/api/organization/all`)
      .then(response => {
        this.organization = response.data
        
      })
      .catch(error => {
        this.errors = error.response.data.errors
      })
    }
  }
}
</script>
